extends ../layouts/default

block content
    .container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        article
            p: a(href='/blog') &larr; back to the blog
            hr
            if !data.book
                h2 Invalid Post.
            else
                header
                    h1= data.book.title
                    h5 Posted 
                        if data.book.publishedDate
                            | on #{data.book.publishedDate} 
                        if data.book.author
                            | by #{data.book.author}
                        if data.book.Qty
                            | qty #{data.book.Qty}
                        a(href='/add-to-cart/' + data.book._id) alelu
                .post
                    if data.book.image.exists
                        .image-wrap: img(src=data.book._.image.fit(750,450)).img-responsive
                    != data.book.content.full
