extends ../layouts/default

mixin post(post)
	.post(data-ks-editable=editable(user, {list: 'Post', id: post.id}))
		p.lead.text-muted
			if post.publishedDate
				| #{post._.publishedDate.format('DD.MM.YYYY')}
		if post.image.exists
			img(src=post._.image.fit(320, 320)).img
		h2: a(href='/blog/post/' + post.slug)= post.title
		p: a(href='/blog/post/' + post.slug)!= post.content.brief

block content
	.hero-image
		img(src='/images/books.png')
		h2 Potrzebujesz książki?
		p Wyszukaj
		div
			form(action='/query', method='get')
				input(type="text"  name = 'name')
				button.search-btn(type='submit' name = 'Name')
					i.fas.fa-search
	.container
		section
			h3 Aktualności
			.container: .row
				if filters.category && !data.category
					h3.text-muted Invalid Category.
				else
					if data.posts.results.length

						.blog
							each post in data.posts.results
								+post(post)

						if data.posts.totalPages > 1
							ul.pagination
								if data.posts.previous
									li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
								else
									li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
								each p, i in data.posts.pages
									li(class=data.posts.currentPage == p ? 'active' : null)
										a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p))= p
								if data.posts.next
									li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
								else
									li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
					else
						if data.category
							h3.text-muted There are no posts in the category #{data.category.name}.
						else
							h3.text-muted There are no posts yet.
	section.category
		h2 Kategorie
		ul
			//- li 
				a Czasopisma
			li 
				a(href='/gallery') Filmy i grafika
			//- li 
				a Audiobooki
			li 
				a(href='/books') Książki
	//.container: .jumbotron
		img(src='/images/logo.svg', width='160')
		h1 Welcome
		p This is your new <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> website.
		p It includes the latest versions of
			| <a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			| and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		p Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.
		hr
		p Search:
			form.form-inline(action='/query', method='get')
				div.form-group
					input(type="text" class="form-control" name = 'name')
					input.search(type='submit' name = 'Name')
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		else
			p We have created a default Admin user for you with the email <strong>daniel4101@interia.pl</strong> and the password <strong>Marta9</strong>.
			p
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
				|  to use the Admin UI.
		hr
		p Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			| <a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
